.search-container {
  display: flex;
}

.search-text {
  margin: auto;
}

.search-form {
  margin: auto;
}
.search .searchBtn:hover {
  cursor: pointer;
  background-color: #857f7f;
}

.first-card {
  background: white;
  height: 250px;
  display: flex;
}

.first-card-info {
  width: 80%;
  margin: auto;
  margin-top: 30%;
}

.price {
  text-align: center;
  color: black;
}

.ticker {
  color: #7dc4bc;
  text-align: center;
}

.image-container {
  background: white;
  height: 80%;
  display: flex;
}

.logo {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
}

.red-animate {
  color: red;
  transition: color 1s ease-out;
}
.green-animate {
  color: green ;
  transition: color 1s ease-out;
}

.ui.menu {
  margin: 0;
}
