body {
  background-color: #faf9f6;
}

.search-container {
  display: flex;
}

.search-text {
  margin: auto;
}

.search-form {
  margin: auto;
}
.search .searchBtn:hover {
  cursor: pointer;
  background-color: #857f7f;
}

.first-card {
  background: white;
  height: 250px;
  display: flex;
}

.first-card-info {
  width: 80%;
  margin: auto;
  margin-top: 40%;
  text-align: center;
}

.price {
  text-align: center;
  color: black;
  font-size: 1.3rem;
}

.ticker {
  text-align: center;
}

.image-container {
  background: white;
  height: 80%;
  display: flex;
}

.logo {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
}

.red-animate {
  color: red;
  transition: color 1s ease-out;
}
.green-animate {
  color: green;
  transition: color 1s ease-out;
}

.ui.menu {
  margin: 0;
}

.first-card > p {
  margin: 0;
}

.first-card h2 {
  margin: 0;
}

.first-card h3 {
  margin: 13px 0;
}

img {
  width: 50px;
  height: auto;
  background: url(https://www.fool.com/investing/2021/11/17/why-tesla-stock-surged-higher-on-wednesday/)
    no-repeat scroll 0 0;
}

* {
  /* border: 1px solid red; */
}
